<template>
  <div class="flex border-b border-gray-100a20 py-15">
    <div class="rounded-10 w-80 sm:w-90 mr-12 sm:mr-14 bg-cover bg-center"
         :style="{backgroundImage: `url(${img})`}"></div>
    <div class="relative flex-1 py-2 pr-7">
      <a @click="remove"
         class="absolute bottom-1 right-18 sm:static sm:float-right sm:ml-15 sm:mb-15 text-gray-100 text-f18 sm:text-f13 hover:text-red-100 cursor-pointer">
        <i class="icon-close hidden sm:inline"/>
        <i class="icon-delete sm:hidden"/>
      </a>
      <h4 class="font-medium text-f12 sm:text-f14 leading-a38 sm:leading-a14 text-gray-100 mb-4">{{name}}</h4>
      <span class="block text-gray-100a50 sm:text-green-100 font-medium text-f12 sm:text-f14 leading-a13 mb-13">
        <span v-if="ageGroupName">{{ageGroupName}}</span>
        <span class="sm:hidden"> - {{displayPrice}}</span>
      </span>

      <div class="flex justify-between items-center">
        <div class="flex items-center">
          <a @click="subtract"
             class="w-24 h-24 rounded-full bg-green-100 hover:bg-green-200 text-white relative text-f12 cursor-pointer">
            <i class="icon-minus absolute ctranslate-c top-50p left-50p" />
          </a>
          <div class="bg-gray-200 rounded-30 pt-4 sm:pt-2 pb-6 sm:pb-4 px-4 w-65 sm:w-87 font-bold text-f10 sm:text-f12 leading-normal text-center mx-5 sm:mx-7">
            Qty: {{quantity}}
          </div>
          <a @click="add"
             class="w-24 h-24 rounded-full bg-green-100 hover:bg-green-200 text-white relative text-f12 cursor-pointer">
            <i class="icon-add absolute ctranslate-c top-50p left-50p" />
          </a>
        </div>

        <div class="pl-20 hidden sm:block">
          <!-- discount price for dish -->
          <!--span class="font-medium text-f14 leading-none line-through">$26.85</span-->
          <span class="text-green-100 font-bold text-f14 leading-none">{{displayPrice}}</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import { formatPrice } from './utils';

  export default {
    props: {
      sku: String,
      img: String,
      name: String,
      ageGroupName: String,
      totalCost: Number,
      quantity: Number,
    },
    methods: {
      add() {
        this.$emit('add', this.sku)
      },
      subtract() {
        this.$emit('subtract', this.sku)
      },
      remove() {
        this.$emit('remove', this.sku)
      }
    },
    computed: {
      displayPrice() {
        return formatPrice(this.totalCost);
      }
    }
  }
</script>
