<template>
  <div>
    <div class="z-100 fixed top-0 left-0 right-0 bottom-0 overflow-y-auto bg-black opacity-50"></div>
    <div class="fixed inset-0 z-100 overflow-y-auto transition opacity-100">
      <div class="flex items-end sm:items-center justify-center min-h-full px-8 py-60 sm:py-104">
        <div class="bg-white rounded-6 shadow-s1 px-24 pt-26 sm:pt-39 pb-14 sm:pb-24 text-f14 sm:text-base leading-a22 w-full max-w-600 text-center relative">
          <i class="icon-report-problem text-red-400 absolute left-27 top-24 sm:top-32 text-f19 sm:text-f28"></i>
          <h3 class="font-bold text-f18 sm:text-f22 leading-a27 mx-27 sm:mx-38 mb-19">Your Meals Do Not Meet the Minimum Order</h3>
          <p class="mb-23">You haven't met the {{ movPrice }} order minimum. Add more meals to reach the order minimum.</p>
          <button @click.stop="close" class="btn btn-dark-gray w-full pt-11 pb-10 mb-12">Add / Edit My Meals</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import { MIN_ORDER_VALUE } from './prices';
  import { formatPrice } from './utils';

  export default {
    computed: {
      movPrice() {
        return formatPrice(MIN_ORDER_VALUE);
      },
    },
    methods: {
      close() {
        this.$emit('close');
      },
    },
  };
</script>
