<template>
  <div>
    <div @click="hideCart" :class="[isOpen ? 'opacity-100 visible' : 'opacity-0 invisible', 'hidden sm:block transition duration-200 ease-linear fixed z-100 inset-0 bg-gray-100a50']"></div>
    <aside :class="[{'active': isOpen}, 'cart-panel', 'z-100', 'fixed', 'top-46 sm:top-0', 'bottom-0', 'w-full', 'sm:w-430', 'bg-white', 'shadow-s1', 'overflow-y-auto overflow-x-hidden']">
      <div class="table h-full w-full ">
        <div class="table-cell">
          <div class="sticky top-0 z-2 bg-white">
            <div class="hidden sm:flex items-center p-10 sm:pt-41 sm:pb-21 sm:px-23 justify-between relative">
              <div class="flex items-center pr-20 sm:pr-42">
                <a @click="hideCart"
                   class="icon-caret-left sm:hidden text-gray-100a50 hover:text-green-100 p-6 mr-6 text-f14 cursor-pointer" />
                <a @click="hideCart" class="inline-block relative mr-45 sm:mr-53 cursor-pointer">
                  <i class="icon-cart text-f21 sm:text-f24 block" />
                  <span class="absolute -top-12 -right-22 sm:-right-25 rounded-full bg-green-100 text-white font-bold text-f12 sm:text-f14 leading-none text-center py-3 px-4 min-w-20">
                    {{count}}
                  </span>
                </a>
                <a @click="hideCart" class="absolute top-0 right-0 text-f12 font-bold leading-none px-10 py-8 flex items-center hover:text-green-100 cursor-pointer hidden sm:block">Hide Cart <i class="icon-close ml-9 text-f14"></i></a>
              </div>

              <slot name="header"></slot>
            </div>
            <slot name="thresholdMessage"></slot>
          </div>

          <div class="px-16 sm:px-14 pb-26">
            <Product v-for="product in products"
                     :key="product.sku"
                     :sku="product.sku"
                     :img="product.image['cart-mobile']"
                     :img2x="product.image['cart-desktop']"
                     :name="product.name"
                     :totalCost="product.totalCost"
                     :quantity="product.quantity"
                     :ageGroupName="product.ageGroupName"
                     @add="addProduct"
                     @subtract="subtractProduct"
                     @remove="removeProduct"
            />
          </div>
        </div>
        <div class="table-foot h-1p relative sticky bottom-0">
          <div class="sticky bottom-0 bg-white shadow-s1">
            <div class="text-f12 sm:text-base -mt-1 py-11 sm:py-16 px-16">
              <div class="flex justify-between">
                <div>Subtotal:</div>
                <div class="text-right">{{formatPrice(costs.items)}}</div>
              </div>

              <div class="flex justify-between" v-if="costs.orderValueDiscount">
                <div>
                  <span v-if="costs.orderValueDiscountPercentage">
                    {{costs.orderValueDiscountPercentage}}
                  </span>
                  Order Value Discount:
                </div>
                <div class="text-right">{{formatPrice(costs.orderValueDiscount)}}</div>
              </div>

              <div class="flex justify-between" v-if="costs.discount">
                <div>Promo Discount:</div>
                <div class="text-right">
                  {{formatPrice(costs.discount)}}
                  <span v-if="promoCode">
                    (Code: {{promoCode}})
                  </span>
                </div>
              </div>
              <div class="text-right text-f14" v-if="costs.discount && costs.discountDescription">
                *{{costs.discountDescription}}
              </div>

              <div class="flex justify-between" v-if="costs.compedAmountApplied">
                <div>Comped Discount Amount:</div>
                <div class="text-right">
                  {{formatPrice(costs.compedAmountApplied)}}
                </div>
              </div>

              <div class="flex justify-between" v-if="costs.referralCredits">
                <div>Referral Credits:</div>
                <div class="text-right">
                  {{formatPrice(costs.referralCredits)}}
                </div>
              </div>

              <div class="flex justify-between">
                <div>Shipping:</div>
                <div class="text-right">
                  <span v-if="costs.shipping < costs.shippingBeforeDiscount" class="font-medium leading-none line-through">
                    {{formatPrice(costs.shippingBeforeDiscount)}}
                  </span>
                  {{formatPrice(costs.shipping)}}
                </div>
              </div>

              <div class="flex justify-between" v-if="costs.taxBeforeDiscount || costs.tax">
                <div>Sales Tax:</div>
                <div class="text-right">
                  <span v-if="costs.tax < costs.taxBeforeDiscount" class="font-medium leading-none line-through">
                    {{formatPrice(costs.taxBeforeDiscount)}}
                  </span>
                  {{formatPrice(costs.tax)}}
                </div>
              </div>

              <div class="flex justify-between" v-if="costs.credits">
                <div>Credits:</div>
                <div class="text-right">{{formatPrice(costs.credits)}}</div>
              </div>

              <div class="flex justify-between" v-if="!subscribeAndSaveTotal && !oneOffPurchaseTotal">
                <div>Total:</div>
                <div class="text-right">
                  <span class="text-green-100 font-bold text-f14 leading-none">{{formatPrice(costs.total)}}</span>
                </div>
              </div>

              <div class="flex justify-between" v-if="subscribeAndSaveTotal">
                <div class="font-bold">Total:</div>
                <div class="text-right">
                  <span class="text-green-100 font-bold text-f14 leading-none">{{formatPrice(subscribeAndSaveTotal)}}</span>
                </div>
              </div>
            </div>
            <slot name="footer"></slot>
          </div>
        </div>
      </div>
    </aside>
  </div>
</template>

<script>
  import Product from 'nurturelife-shared/CartProduct.vue';
  import { formatPrice } from './utils';

  export default {
    props: {
      products: Array,
      count: Number,
      costs: Object,
      subscribeAndSaveTotal: Number,
      oneOffPurchaseTotal: Number,
      promoCode: String,
      isOpen: Boolean,
      isFreeForSubscriberVisible: Boolean,
    },
    components: {
      Product,
    },
    methods: {
      formatPrice,
      hideCart() {
        this.$emit('hideCart');
      },
      addProduct(payload) {
        this.$emit('addProduct', payload);
      },
      subtractProduct(payload) {
        this.$emit('subtractProduct', payload);
      },
      removeProduct(payload) {
        this.$emit('removeProduct', payload);
      },
    }
  }
</script>
