<template>
  <nav class="bg-gray-200 js-will-blur-a">
    <div class="container px-0 sm:px-25">
      <div class="overflow-y-auto md:ml-50">
        <ul class="table w-full min-2-500 whitespace-no-wrap sm:font-bold text-center text-f14 md:text-f18 xl:text-f22 -mr-25">
          <li class="table-cell" v-for="link in items" :key="link.name">
            <a @click="select(link)"
               :class="[
                 (selectedItem && link.name === selectedItem.name) ? 'current' : '',
                 'block w-full px-16 py-16 md:pt-23 md:pb-27 text-gray-100 hover:text-green-100 hover-border cursor-pointer']">
              {{link.name}}
              <span v-if="link.quantity" class="absolute top-2 md:top-9 min-w-14 md:min-w-21 h-14 md:h-21 rounded-full bg-green-100 text-white text-center font-bold text-f10 md:text-f14 p-1">
                {{link.quantity}}
              </span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</template>

<script>
  export default {
    props: {
      items: Array,
      selectedItem: Object,
    },
    methods: {
      select(selectedItem) {
        this.$emit('select', selectedItem)
      }
    },
  }
</script>
