<template>
  <div class="w-63 ml-12 sm:hidden">
    <a @click.prevent="toggle"
       class="icon-tune w-full h-35 rounded-30 border-2 border-green-100 text-green-100 flex items-center justify-center"></a>

    <div class="z-100 fixed top-0 left-0 right-0 bottom-0 p-11 overflow-y-auto text-gray-700 transition"
         :class="isOpen ? 'opacity-100 visible' : 'opacity-0 invisible'">
      <div class="flex items-center min-h-full">
        <div class="shadow-s1 rounded-10 w-full">
          <div class="flex items-center justify-between rounded-t-10 bg-gray-200 py-6 px-20">
            <div class="flex items-center text-base">
              <i class="icon-tune mr-10 text-f18"></i>
              <span class="flex-1 font-bold">Filters</span>
            </div>
            <i @click.prevent="toggle" class="cursor-pointer transition hover:text-red-100 icon-close text-f14 p-10 -mr-17"></i>
          </div>
          <div class="rounded-b-10 bg-white px-17 text-center text-f12 leading-tighter">
            <div v-if="childrenPreferences.length" class="border-b border-gray-600a20 py-16">
              <strong class="block font-bold">Preset Filters</strong>
              <span class="block text-f10 mb-11">Applies filters based on each child’s preferences</span>

              <div class="flex flex-wrap -mx-3 -mb-9">
                <div v-for="kidPreferences in childrenPreferences" class="px-3 pb-9 w-1/2">
                  <a @click="useKidPreferences(kidPreferences.kidId)"
                     class="block text-center rounded-30 pt-7 pb-8 px-10 text-f12 cursor-pointer"
                     :class="kidPreferences.kidId === selectedKidPreferences ? 'font-bold bg-gray-600 text-white' : 'bg-gray-200 text-gray-600'">
                    Use {{kidPreferences.kidName || kidPreferences.ageGroupName}}'s Preferences
                  </a>
                </div>
              </div>
            </div>

            <div class="border-b border-gray-600a20 py-16">
              <strong class="block font-bold mb-13">Dietary Preferences</strong>

              <ul class="flex flex-wrap justify-center text-center -mb-20">
                <li class="w-1/4 px-10 pb-20"
                    v-for="dietaryPreference in dietaryPreferences"
                    :key="dietaryPreference.id"
                    @click="clickDietaryPreference(dietaryPreference.id)">
                  <div class="w-27 h-27 rounded-full mx-auto mb-6"
                       :class="selectedDietaryPreferencesId === dietaryPreference.id ? 'bg-gray-600' : 'bg-gray-200'"></div>
                  <div class="block"
                       :class="selectedDietaryPreferencesId === dietaryPreference.id ? 'font-bold' : ''">{{dietaryPreference.name}}</div>
                </li>
              </ul>
            </div>

            <div class="border-b border-gray-600a20 py-16">
              <strong class="block font-bold mb-13">Type Of Eater</strong>

              <MenusTypeOfEaters :items="typeOfEaters" :selectedId="selectedTypeOfEaterId" @select="selectTypeOfEater" />
            </div>

            <div class="border-b border-gray-600a20 py-16">
              <strong class="block font-bold mb-13">Select all that apply</strong>

              <ul class="flex flex-wrap justify-center text-center -mb-20">
                <li class="min-w-58 px-10 pb-20"
                    v-for="indicator in indicators"
                    :key="indicator.id"
                    @click="clickIndicator(indicator)">
                  <div class="w-27 h-27 rounded-full mx-auto mb-6"
                       :class="selectedIndicatorsIds.includes(indicator.id) ? 'bg-gray-600' : 'bg-gray-200'"></div>
                  <div class="block"
                       :class="selectedIndicatorsIds.includes(indicator.id) ? 'font-bold' : ''">{{indicator.name}}</div>
                </li>
              </ul>
            </div>

            <div class="pt-16 pb-8">
              <a @click="apply()" class="btn btn-green w-full text-f14 mb-5 cursor-pointer">Apply Filters</a>
              <button @click="clear()" class="text-f12 text-gray-600 py-8 px-20">Clear Filters</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import MenusTypeOfEaters from './MenusTypeOfEaters';

  export default {
    props: {
      indicators: Array,
      appliedIndicators: Array,
      dietaryPreferences: Array,
      appliedDietaryPreferencesId: Number,
      typeOfEaters: Array,
      appliedTypeOfEaterId: Number,
      childrenPreferences: {
        type: Array,
        default: () => [],
      },
    },
    components: {
      MenusTypeOfEaters,
    },
    data() {
      return {
        isOpen: false,
        selectedIndicators: [...this.appliedIndicators],
        selectedDietaryPreferencesId: this.appliedDietaryPreferencesId,
        selectedTypeOfEaterId: this.appliedTypeOfEaterId,
        selectedKidPreferences: null,
      }
    },
    computed: {
      selectedIndicatorsIds() {
        return this.selectedIndicators.map((selectedIndicator) => selectedIndicator.id);
      },
      isClearVisible() {
        return !!this.selectedIndicators.length || !!this.selectedDietaryPreferencesId;
      },
    },
    methods: {
      toggle() {
        this.isOpen = !this.isOpen;
      },
      clickDietaryPreference(dietaryPreferenceId) {
        this.selectedDietaryPreferencesId = this.selectedDietaryPreferencesId !== dietaryPreferenceId ? dietaryPreferenceId : null;
        this.selectedKidPreferences = null;
      },
      clickIndicator(indicator) {
        if (this.selectedIndicators.includes(indicator)) {
          this.selectedIndicators.splice(this.selectedIndicators.indexOf(indicator), 1);
        } else {
          this.selectedIndicators.push(indicator);
        }
        this.selectedKidPreferences = null;
      },
      selectTypeOfEater(typeOfEaterId) {
        this.selectedTypeOfEaterId = this.selectedTypeOfEaterId !== typeOfEaterId ? typeOfEaterId : null;
        this.selectedKidPreferences = null;
      },
      useKidPreferences(kidId) {
        const kidPreferences = this.childrenPreferences.find((preferences) => preferences.kidId === kidId);
        this.selectedKidPreferences = kidId;
        this.selectedIndicators = this.indicators.filter((indicator) => kidPreferences.indicatorIds.includes(indicator.id));
        this.selectedDietaryPreferencesId = kidPreferences.dietaryPreferenceId;
        this.selectedTypeOfEaterId = kidPreferences.typeOfEaterId;
      },
      apply() {
        this.$emit('selectIndicators', [...this.selectedIndicators]);
        this.$emit('selectDietaryPreferencesId', this.selectedDietaryPreferencesId);
        this.$emit('selectTypeOfEaterId', this.selectedTypeOfEaterId);
        this.toggle();
      },
      clear() {
        this.selectedIndicators = [];
        this.selectedDietaryPreferencesId = null;
        this.selectedTypeOfEaterId = null;
        this.selectedKidPreferences = null;
      },
    }
  }
</script>
