<template>
  <ul class="table w-full h-full text-center">
    <li v-for="(item, index) in items"
        :key="item.id"
        class="table-cell">
      <a @click="select(item.id)"
         :class="[
           selectedId === item.id ? 'bg-gray-100 text-white' : 'bg-gray-200 ',
           index === items.length - 1 ? 'rounded-r-30' : '',
           index === 0 ? 'rounded-l-30' : '',
           'block px-20 pt-11 pb-14 cursor-pointer flex items-center justify-center sm:h-full sm:min-h-53'
         ]">
        {{item.name}}
      </a>
    </li>
  </ul>
</template>

<script>
  export default {
    props: {
      items: Array,
      selectedId: Number,
    },
    methods: {
      select(id) {
        this.$emit('select', this.selectedId !== id ? id : null)
      }
    },
  }
</script>
