<template>
  <div class="w-full flex">
    <button
        @click="search"
        class="icon-search bg-gray-100a20 sm:bg-gray-200 rounded-l-30 w-50 sm:w-72 h-35 sm:h-53 pl-6 sm:text-f23" />
    <input
        type="search"
        class="bg-gray-200 w-full h-35 sm:h-53 text-f16 text-base rounded-r-30 px-20 py-4 sm:pl-0 sm:pr-30 sm:py-20 flex-1 sm:text-center"
        placeholder="Search"
        @input="search"
        v-model="text" />
  </div>
</template>

<script>
  import { throttle } from './utils';

  export default {
    props: {
      initialValue: {
        type: String,
        default: '',
      },
    },
    mounted() {
      this.text = this.initialValue;
    },
    data() {
      return {
        text: '',
      };
    },
    methods: {
      search: throttle(function () {
        this.$emit('search', this.text);
      }, 300, {leading: false}),
    },
  }
</script>
