<template>
  <div class="relative">
    <div class="relative group z-3">
      <a @click.prevent="toggle"
         class="block bg-gray-200 group-hover:bg-gray-100 group-hover:text-white rounded-30 px-58 pt-16 pb-17 text-center cursor-pointer">
        <i class="absolute top-50p left-36 ctranslate-yhn text-f7" :class="isOpen ? 'icon-caret-up' : 'icon-caret-down'"></i>
        <span>{{title}}</span>
      </a>
      <a v-if="isClearAppliedVisible"
         @click.prevent="clearApplied"
         class="icon-close absolute top-50p right-20 ctranslate-yhn text-f13 group-hover:text-white cursor-pointer"></a>
    </div>

    <div class="bg-white z-2 absolute top-0 w-full rounded-30 shadow-s1 px-17 pt-53 text-center text-f16 leading-tighter transition"
         :class="isOpen ? 'opacity-100 visible' : 'opacity-0 invisible'">
      <div v-if="childrenPreferences.length" class="border-b border-gray-600a20 py-25">
        <strong class="block text-f15 font-bold">Preset Filters</strong>
        <span class="block text-f13 mb-20">Applies filters based on each child’s preferences</span>

        <div class="flex flex-wrap -mx-3 -mb-9">
          <div v-for="kidPreferences in childrenPreferences" class="px-3 pb-9 w-1/2">
            <a @click="useKidPreferences(kidPreferences.kidId)"
               class="block text-center rounded-30 pt-7 pb-8 px-10 cursor-pointer"
               :class="kidPreferences.kidId === selectedKidPreferences ? 'font-bold bg-gray-600 text-white' : 'bg-gray-200 text-gray-600'">
              Use {{kidPreferences.kidName || kidPreferences.ageGroupName}}'s Preferences
            </a>
          </div>
        </div>
      </div>
      <div class="border-b border-gray-600a20 py-25">
        <strong class="block font-bold text-f15 mb-28">Dietary Preferences</strong>

        <ul class="flex flex-wrap justify-center text-center -mb-20">
          <li class="w-1/4 px-10 pb-20 cursor-pointer"
              v-for="dietaryPreference in dietaryPreferences"
              :key="dietaryPreference.id"
              @click="clickDietaryPreference(dietaryPreference.id)">
            <div class="w-40 h-40 rounded-full mx-auto mb-10"
                 :class="selectedDietaryPreferencesId === dietaryPreference.id ? 'bg-gray-600' : 'bg-gray-200'"></div>
            <div class="block"
                 :class="selectedDietaryPreferencesId === dietaryPreference.id ? 'font-bold' : ''">{{dietaryPreference.name}}</div>
          </li>
        </ul>
      </div>

      <div class="border-b border-gray-600a20 py-25">
        <strong class="block font-bold text-f15 mb-34">Select all that apply</strong>

        <ul class="flex flex-wrap justify-center text-center -mb-20">
          <li class="min-w-58 px-10 pb-20 cursor-pointer"
              v-for="indicator in indicators"
              :key="indicator.id"
              @click="clickIndicator(indicator)">
            <div class="w-40 h-40 rounded-full mx-auto mb-10"
                 :class="selectedIndicatorsIds.includes(indicator.id) ? 'bg-gray-600' : 'bg-gray-200'"></div>
            <div class="block"
                 :class="selectedIndicatorsIds.includes(indicator.id) ? 'font-bold' : ''">{{indicator.name}}</div>
          </li>
        </ul>
      </div>

      <div class="p-25">
        <a @click="apply"
           class="btn btn-green w-full text-f14 pt-8 pb-11 text-f18 mb-11 cursor-pointer">Apply Filters</a>
        <button
            @click="clear"
            class="text-f14 text-gray-600 py-8 px-20">Clear Filters</button>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    props: {
      indicators: Array,
      appliedIndicators: Array,
      dietaryPreferences: Array,
      appliedDietaryPreferencesId: Number,
      childrenPreferences: {
        type: Array,
        default: () => [],
      },
    },
    data() {
      return {
        isOpen: false,
        selectedIndicators: [...this.appliedIndicators],
        selectedDietaryPreferencesId: this.appliedDietaryPreferencesId,
        selectedKidPreferences: null,
      }
    },
    computed: {
      title() {
        const dietaryPreferences = this.dietaryPreferences.find((dietaryPreferences) => dietaryPreferences.id === this.appliedDietaryPreferencesId);
        const indicators = this.appliedIndicators.map((selectedIndicator) => selectedIndicator.name);
        const selectedItems = dietaryPreferences ? [dietaryPreferences.name, ...indicators] : indicators;
        return selectedItems.length ? selectedItems.join(', ') : 'Filters';
      },
      selectedIndicatorsIds() {
        return this.selectedIndicators.map((selectedIndicator) => selectedIndicator.id);
      },
      isClearAppliedVisible() {
        return !!this.appliedIndicators.length || !!this.appliedDietaryPreferencesId;
      },
    },
    methods: {
      toggle() {
        this.isOpen = !this.isOpen;
      },
      clickDietaryPreference(dietaryPreferenceId) {
        this.selectedDietaryPreferencesId = this.selectedDietaryPreferencesId !== dietaryPreferenceId ? dietaryPreferenceId : null;
        this.selectedKidPreferences = null;
      },
      clickIndicator(indicator) {
        if (this.selectedIndicators.includes(indicator)) {
          this.selectedIndicators.splice(this.selectedIndicators.indexOf(indicator), 1);
        } else {
          this.selectedIndicators.push(indicator);
        }
        this.selectedKidPreferences = null;
      },
      useKidPreferences(kidId) {
        const kidPreferences = this.childrenPreferences.find((preferences) => preferences.kidId === kidId);
        this.selectedKidPreferences = kidId;
        this.selectedIndicators = this.indicators.filter((indicator) => kidPreferences.indicatorIds.includes(indicator.id));
        this.selectedDietaryPreferencesId = kidPreferences.dietaryPreferenceId;
      },
      apply() {
        this.$emit('selectIndicators', [...this.selectedIndicators]);
        this.$emit('selectDietaryPreferencesId', this.selectedDietaryPreferencesId);
        this.toggle();
      },
      clear() {
        this.selectedIndicators = [];
        this.selectedDietaryPreferencesId = null;
        this.selectedKidPreferences = null;
      },
      clearApplied() {
        this.selectedIndicators = [];
        this.selectedDietaryPreferencesId = null;
        this.selectedKidPreferences = null;
        this.$emit('selectIndicators', this.selectedIndicators);
        this.$emit('selectDietaryPreferencesId', this.selectedDietaryPreferencesId);
      },
    }
  }
</script>
