<template>
  <div class="product-controls">
    <div v-if="quantity"
         class="absolute top-full left-50p ctranslate-c rounded-30 bg-white shadow-s1 py-2 px-3 flex items-center justify-between">
      <a v-if="!readOnly"
         @click.stop.prevent="subtract"
         class="block relative text-f12 sm:text-base w-30 sm:w-45 h-30 sm:h-45 rounded-full bg-green-100a2 sm:hover:bg-green-200 sm:hover:text-white text-green-100 cursor-pointer">
        <i class="icon-minus absolute ctranslate-c top-50p left-50p"/>
      </a>
      <span class="font-bold text-f20 sm:text-f30 leading-none text-green-100 w-32 sm:w-40 px-5 text-center">{{quantity}}</span>
      <a v-if="!readOnly"
         @click.stop.prevent="add"
         class="block relative text-f12 sm:text-base w-30 sm:w-45 h-30 sm:h-45 rounded-full bg-green-100a2 sm:hover:bg-green-200 sm:hover:text-white text-green-100 cursor-pointer">
        <i class="icon-add absolute ctranslate-c top-50p left-50p"/>
      </a>
    </div>

    <a v-if="!quantity && !readOnly"
       @click.stop.prevent="add"
       class="text-f12 sm:text-base w-30 sm:w-45 h-30 sm:h-45 rounded-full bg-green-100 sm:hover:bg-green-200 text-white absolute top-full left-50p ctranslate-c cursor-pointer">
      <i class="icon-add absolute ctranslate-c top-50p left-50p"/>
    </a>
  </div>
</template>
<script>
  export default {
    props: {
      quantity: Number,
      readOnly: Boolean,
    },
    methods: {
      add() {
        this.$emit('add');
      },
      subtract() {
        this.$emit('subtract');
      },
    }
  }
</script>
