<template>
  <li class="w-full xs:w-1/2 md:w-1/3 lg:w-1/4 px-6 sm:px-17 mb-10 sm:mb-38 flex"
      :data-sku="sku">
    <div class="rounded-10 overflow-hidden shadow text-center w-full relative pb-27 sm:pb-50">
      <span v-if="badge" class="z-1 absolute top-0 left-0 rounded-br-8 bg-white text-green-100 font-bold text-f10 sm:text-f16 px-10 sm:px-17 py-5 sm:py-7">{{badge}}</span>
      <a :href="link" @click="press">
        <div class="relative h-131 sm:h-226">
          <div class="bg-stretch" :style="{backgroundImage: `url(${img2x})`}"></div>
          <ProductControls @add="add" @subtract="subtract" :quantity="quantity" :readOnly="readOnly" />
          <!--        <img v-if="isFavorite"-->
          <!--             :src="asset('/images/picky-eater-fav.svg')"-->
          <!--             class="absolute top-9 right-8 w-58"-->
          <!--             alt="Picky eater fav">-->
          <!--        <span v-if="isNew"-->
          <!--              class="absolute bg-green-100 text-white text-base leading-tighter text-center w-140 top-27 left-0 -ml-34 crotate-n45">New!</span>-->
        </div>
      </a>


      <div class="px-9 sm:px-32 pt-30 sm:pt-41 pb-9 sm:pb-20">
        <a :href="link" @click="press"
           class="font-bold text-f14 sm:text-f20 md:text-f24 leading-a14 sm:leading-a17 mb-7 sm:mb-17 truncate-block max-h-30 sm:max-h-46 md:max-h-56">
          {{name}}
        </a>
        <span v-if="excerpt" class="block text-f12 sm:text-f22 text-green-100 mb-8 sm:mb-19">{{excerpt}}</span>
      </div>

      <div class="px-13 sm:px-20 pt-7 pb-6 sm:pt-14 sm:pb-12 flex justify-between items-center absolute bottom-0 left-0 right-0">
        <strong class="font-bold text-f12 sm:text-f22">{{displayPrice}} <span v-if="priceBeforeDiscount" class="line-through">{{priceBeforeDiscount}}</span></strong>
        <a :href="link"
           @click="press"
           class="btn-view-product-details inline-flex items-center text-f12 sm:text-f18 cursor-pointer hover:text-green-100">
          <span>View</span>
          <i class="icon-chevron-right ml-4 sm:ml-8 text-f10 sm:text-f14"></i>
        </a>
      </div>
    </div>
  </li>
</template>
<script>
  import { formatPrice } from './utils';
  import ProductControls from './ProductControls';

  export default {
    components: {
      ProductControls,
    },
    props: {
      sku: String,
      slug: String,
      img: String,
      img2x: String,
      name: String,
      description: String,
      badge: String,
      excerpt: String,
      price: Number,
      priceBeforeDiscount: Number,
      indicators: {
        type: Array,
        default: () => [],
      },
      ageGroupName: String,
      quantity: Number,
      readOnly: Boolean,
      link: String,
    },
    methods: {
      add() {
        this.$emit('add', this.sku);
      },
      subtract() {
        this.$emit('subtract', this.sku);
      },
      press() {
        this.$emit('press', this.sku);
      },
    },
    computed: {
      displayPrice() {
        return formatPrice(this.price);
      },
      displayIndicators() {
        return this.indicators.join(', ')
      },
    }
  }
</script>
