<template>
  <div>
    <p class="font-bold mb-12">Add More & Save!</p>
    <ul class="font-bold mb-12">
      <li>{{ movPrice }} = minimum order needed to checkout</li>
      <li>Spend {{ freeShippingPrice }} = free shipping</li>
      <li>Spend {{ discount5Price }} = 5% off entire order and free shipping</li>
      <li>Spend {{ discount10Price }} = 10% off entire order and free shipping</li>
    </ul>
    <p>
      Fill your cart to automatically receive a discount!
      Once you checkout, you’ll choose how you want us to fill your future orders.
      Skip, pause or cancel at any time.
    </p>
  </div>
</template>

<script>
  import { formatPrice } from './utils';
  import {
    MIN_ORDER_VALUE,
    FREE_SHIPPING,
    DISCOUNT_5,
    DISCOUNT_10,
  } from './prices';

  export default {
    computed: {
      movPrice() {
        return formatPrice(MIN_ORDER_VALUE)
      },
      freeShippingPrice() {
        return formatPrice(FREE_SHIPPING)
      },
      discount5Price() {
        return formatPrice(DISCOUNT_5)
      },
      discount10Price() {
        return formatPrice(DISCOUNT_10)
      },
    }
  }
</script>
