<template>
  <div>
    <div class="z-100 fixed top-0 left-0 right-0 bottom-0 overflow-y-auto bg-black opacity-50"></div>
    <div class="fixed inset-0 z-100 overflow-y-auto transition opacity-100">
      <div class="flex items-center justify-center min-h-full px-8 py-60 sm:py-104">
        <div class="bg-white rounded-20 shadow-s1 text-base leading-a26 w-full max-w-600 md:max-w-713 text-center relative md:flex overflow-hidden">
          <div class="md:w-1/2 bg-cover bg-center min-h-298 md:min-h-360" :style="{backgroundImage: bgImg}"></div>
          <div class="flex-1 pt-26 pb-17 px-30 xs:px-50 md:px-44 md:pt-36">
            <h3 class="uppercase font-extrabold text-f30 text-green-100 leading-a27 mb-19">Why subscribe?</h3>
            <p class="mb-14">Up to 10% off every order + free shipping on orders over {{ freeShippingPrice }}</p>
            <p class="mb-14">Convenient weekly deliveries based on your dietary and order preferences</p>
            <p class="mb-14">Complete flexibility—Skip, pause or cancel at any time</p>
            <div class="pt-12">
              <button @click.stop="subscribe" class="btn w-full text-f14 pt-12 pb-14 md:py-9 mb-3">Subscribe Now</button>
              <button @click.stop="close" class="w-full text-f12 pt-11 pb-10 md:py-9 mb-3">No Thanks</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import { formatPrice } from './utils';
  import { FREE_SHIPPING } from './prices';

  export default {
    props: {
      bgImg: String,
    },
    computed: {
      freeShippingPrice() {
        return `$${FREE_SHIPPING}`;
      },
    },
    methods: {
      subscribe() {
        this.$emit('subscribe');
      },
      close() {
        this.$emit('close');
      },
    },
  };
</script>
